@using Entity.Concrete
@model CorporateAccount

@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/_CorporateCustomerLayout.cshtml";
}
<br />
<h1 style="text-align: center; color: #191970">Mağaza Profil Düzenleme Sayfası</h1>
<br />
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm("EditProfile", "CorporateCustomer", FormMethod.Post))
            {
                <div class="form-group">
                    <label for="exampleInputName1">Mağaza Adınız</label>
                    @Html.TextBoxFor(x => x.CorporateName, new { @class = "form-control", @placeholder = "Mağaza Adı" })
                    @Html.ValidationMessageFor(x => x.CorporateName, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputEmail3">Web Siteniz</label>
                    @Html.TextBoxFor(x => x.WebSite, new { @class = "form-control", @placeholder = "Web Sitesi" })
                    @Html.ValidationMessageFor(x => x.WebSite, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <br />
                <div class="form-group">
                    <label for="exampleInputPassword4">Telefon Numaranız</label>
                    @Html.TextBoxFor(x => x.PhoneNumber, new { @class = "form-control", @placeholder = "Telefon Numarası" })
                    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <br />
                <div style="text-align:center">
                    <button class="btn btn-outline-success">Profili Güncelle</button>
                </div>
            }
        </div>
    </div>
</div>

