@using Entity.Dtos
@model CorporateAccountForRegisterDto

@{
    ViewBag.Title = "RegisterAsCorporate";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<br />
<br />
<br />
<div class="container" style="text-align:center">
    <h1 style="text-align: center; color: #191970">MAĞAZA KAYIT SAYFASI</h1>
    <br />
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            @using (Html.BeginForm("RegisterAsCorporate", "Auth", FormMethod.Post))
            {
                <div class="mb-3">
                    <label class="form-label" style="font-size: 20px"><b>Mağaza İsmi</b></label>
                    <br />
                    <input type="text" name="CorporateName" class="form-control">
                    @Html.ValidationMessageFor(x => x.CorporateName, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: 20px"><b>Mağaza Web Sitesi</b></label>
                    <br />
                    <input type="text" name="WebSite" class="form-control">
                    @Html.ValidationMessageFor(x => x.WebSite, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: 20px"><b>Telefon Numarası</b></label>
                    <br />
                    <label class="form-label" style="font-size:15px">0XXXXXXXXXX formatında giriniz</label>
                    <input type="text" name="PhoneNumber" class="form-control">
                    @Html.ValidationMessageFor(x => x.PhoneNumber, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: 20px"><b>Email Adresi</b></label>
                    <input type="email" name="Email" class="form-control" aria-describedby="emailHelp">
                    @Html.ValidationMessageFor(x => x.Email, "", new { @style = "color:firebrick;font-weight:bold" })
                </div>
                <div class="mb-3">
                    <label class="form-label" style="font-size: 20px"><b>Şifre</b></label>
                    <input type="password" name="Password" class="form-control">
                    @Html.ValidationMessageFor(x => x.Password, "", new { @style = "color:firebrick;font-weight:bold" })
                    <div class="form-text">Kişisel bilgileriniz kimseyle paylaşılmayacaktır.</div>
                </div>
                <button type="submit" class="btn btn-primary btn">Kaydı Tamamla</button>
            }
            <br />
            <p><b>Zaten Kayıtlı mısınız?</b></p>
            <a href="/Auth/Login" class="btn btn-warning">Tıklayarak Giriş Yapabilirsiniz</a>
            <br />
            <br />
            <p class="mb-1" style="text-align:center">
                <a href="/Auth/RegisterAsCustomer/">Üye Kayıt Sayfası</a>
            </p>
            <br />
            <br />
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

